.body {
  width: 100vw;
  height: 100vh;
  background-color: #E3F2FD;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.app-container{
  width: 550px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-items: center;
}